<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Lisp Interpreter</title>
  <style>
    .boxsizingBorder {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    body{
      background-color: powderblue;
    }
  </style>
</head>
<body>
  <h2>Lisp (Scheme) Interpreter</h2>
  <hr>
  <p>Links:
    <ul>
      <li>Online Scheme REPL: <a href="https://repl.it/repls/GiftedRoyalblueLicensing" target="_blank">repl.it</a></li>
      <li>Writing LISP Interpreter in Python <a href="http://norvig.com/lispy.html" target="_blank">norvig lispy</a> <a href="http://norvig.com/lispy2.html" target="_blank">norvig lispy2</a></li>
      <li><a href="https://github.com/archanabansal88/lisp-interpreter" target="_blank">Sample</a></li>
      <li><a href="https://www.cs.sfu.ca/CourseCentral/310/pwfong/Lisp/1/tutorial1.html" target="_blank">lisp tutorial [www.cs.sfu.ca]</a></li>
      <li><a href="http://lisp.plasticki.com/" target="_blank">lisp tutorial [lisp.plasticki.com]</a></li>
    </ul>
  </p>
  <hr>
  <p>
    <li>Scheme and C-lisp are not the same!!</li>
  </p>
  <script src="script.js"></script>
</body>
</html>
